# SPDX-License-Identifier: GPL-2.0
#
# Phy drivers for Renesas platforms

config PHY_R8A779F0_ETHERNET_SERDES
	tristate "Renesas R-Car S4-8 Ethernet SERDES driver"
	depends on RCAR_64 && PHY
	help
	  Support for Ethernet SERDES found on Renesas R-Car S4-8 SoCs.
	
config PHY_RZT2H_USB2
    bool "Support for Renesas RZ/T2H USB2 PHY"
    depends on RZT2H

config PHY_RZN2H_USB2
    bool "Support for Renesas RZ/N2H USB2 PHY"
    depends on RZN2H