// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/T2N Development EVK board
 *
 * Copyright (C) 2024 Renesas Electronics Corp.
 */

/dts-v1/;
#include "r9a07g076.dtsi"
#include <dt-bindings/pinctrl/rzt2n-pinctrl.h>
#include <dt-bindings/gpio/gpio.h>
#include "r9a07g076-u-boot.dtsi"
/*
 * ETH2 Settings
 * - 0: ETH2 using GMAC2 disabled
 * - 1: ETH2 using GMAC2 ENABLED
 */
#define GMAC2_ETH2_ENABLE		0

/ {
	model = "Renesas Development EVK based on r9a07g076";
	compatible = "renesas,r9a07g076";

	aliases {
		serial0 = &sci1;
		mmc0 = &sdhi0;
		mmc1 = &sdhi1;
		ethernet0 = &gmac1;
		ethernet1 = &gmac2;
	};

	chosen {
		bootargs = "ignore_loglevel";
		stdout-path = "serial0:115200n8";
	};

	memory@C4000000 {
		device_type = "memory";
		reg = <0x0 0xC4000000 0x0 0x3C000000>;
	};

	memory@240000000 {
		device_type = "memory";
		reg = <0x2 0x40000000 0x0 0x40000000>;
	};

	reg_1p8v: regulator0 {
		compatible = "regulator-fixed";

		regulator-name = "fixed-1.8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_3p3v: regulator1 {
		compatible = "regulator-fixed";

		regulator-name = "fixed-3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

};

&sci1 {
	status = "okay";
};

&sdhi0 {
	bus-width = <8>;
	status = "okay";

	/* This is used for interface that support both eMMC and SD in board */
	mutual-channel;
};

&sdhi1 {
	bus-width = <4>;
	status = "okay";
};

&gmac1 {
	phy-handle = <&phy1>;
	phy-mode = "rgmii-id";
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		phy1: ethernet-phy@1 {
			compatible = "ethernet-phy-id0007.0772";
			phy-mode = "rgmii-id";
			reg = <1>;
		};
	};
};
#if (GMAC2_ETH2_ENABLE)
&gmac2 {
	phy-handle = <&phy2>;
	phy-mode = "rgmii-id";
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		phy2: ethernet-phy@2 {
			compatible = "ethernet-phy-id0007.0772";
			phy-mode = "rgmii-id";
			reg = <2>;
		};
	};
};
#endif
