// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/T2N Development EVK board
 *
 * Copyright (C) 2024 Renesas Electronics Corp.
 */

/dts-v1/;
#include "r9a07g076.dtsi"
#include <dt-bindings/pinctrl/rzt2n-pinctrl.h>
#include <dt-bindings/gpio/gpio.h>
#include "r9a07g076-u-boot.dtsi"

/ {
	model = "Renesas Development EVK based on r9a07g076";
	compatible = "renesas,r9a07g076";

	aliases {
		serial0 = &sci1;
		mmc0 = &sdhi0;
		mmc1 = &sdhi1;
	};

	chosen {
		bootargs = "ignore_loglevel";
		stdout-path = "serial0:115200n8";
	};

	memory@C4000000 {
		device_type = "memory";
		reg = <0x0 0xC4000000 0x0 0x3C000000>;
	};

	memory@240000000 {
		device_type = "memory";
		reg = <0x2 0x40000000 0x0 0x40000000>;
	};

	reg_1p8v: regulator0 {
		compatible = "regulator-fixed";

		regulator-name = "fixed-1.8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_3p3v: regulator1 {
		compatible = "regulator-fixed";

		regulator-name = "fixed-3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

};

&sci1 {
	status = "okay";
};

&sdhi0 {
	bus-width = <8>;
	status = "okay";

	/* This is used for interface that support both eMMC and SD in board */
	mutual-channel;
};

&sdhi1 {
	bus-width = <4>;
	status = "okay";
};

