// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Source for the RZ/G3S Dev board
 *
 * Copyright (C) 2022 Renesas Electronics
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include "r9a08g046.dtsi"
#include "r9a08g046-u-boot.dtsi"
#include <dt-bindings/pinctrl/rzg2l-pinctrl.h>

/ {
	model = "smarc-rzg3l";
	compatible = "renesas,r9a08g045s", "renesas,rzg3s";

	aliases {
		serial0 = &scif0;
		spi0 = &xspi;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@48000000 {
		device_type = "memory";
		/* first 128MB is reserved for secure area. */
		reg = <0 0x48000000 0 0x78000000>;
	};
};

&xinclk {
	clock-frequency = <24000000>;
};

&scif0 {
	status = "okay";
	clock = <100000000>;
};

&sdhi0 {
	bus-width = <8>;
	status = "okay";
};

&sdhi1 {
	bus-width = <4>;
	status = "okay";
};

&eth0 {
	status = "okay";
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		phy0: ethernet-phy@7 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <7>;
			txc-skew-ps = <1700>;
			txen-skew-ps = <(-700)>;
			txd0-skew-ps = <0>;
			txd1-skew-ps = <0>;
			txd2-skew-ps = <0>;
			txd3-skew-ps = <0>;
		};
	};
};

&eth1 {
	status = "okay";
	phy-handle = <&phy1>;
	phy-mode = "rgmii-id";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		phy1: ethernet-phy@7 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <7>;
			txc-skew-ps = <1700>;
			txen-skew-ps = <(-700)>;
			txd0-skew-ps = <0>;
			txd1-skew-ps = <0>;
			txd2-skew-ps = <0>;
			txd3-skew-ps = <0>;
		};
	};
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&xspi {
	status = "okay";

	flash@0 {
		compatible = "spi-flash", "jedec,spi-nor";
		reg = <0>;
		m25p,fast-read;
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <1>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "bl2";
				reg = <0x00000000 0x00040000>;
			};

			partition@60000 {
				label = "fip";
				reg = <0x00060000 0x00FA0000>;
			};
		};
	};
};
