if RCAR_64

config SYS_MALLOC_F_LEN
	default 0x8000 if RCAR_64

config OF_LIBFDT_OVERLAY
	default y if RCAR_64

source "arch/arm/mach-renesas/Kconfig.rcar3"
source "arch/arm/mach-renesas/Kconfig.rcar4"

endif
if RZ_V2M

choice
       prompt "Select Target SoC"

config R9A09G011GBG
       bool "Renesas RZV2M r9a09g011gbg"

config R9A09G055MA3GBG
       bool "Renesas RZV2MA r9a09g055ma3gbg"

endchoice


choice
       prompt "Renesus ARM64 (not Gen3) SoCs board select"
       optional

config TARGET_RZV2M
       bool "RZV2M board"
       help
          Support for Renesas RZV2M platform

config TARGET_RZV2MA
       bool "RZV2MA EVK board"
       help
          Support for Renesas RZV2MA platform

endchoice

config SYS_SOC
       default "rmobile"

source "board/renesas/rzv2m-dev/Kconfig"
source "board/renesas/rzv2ma-dev/Kconfig"

endif
