# Copyright (C) 2023 Renesas Electronics Corporation
# SPDX-License-Identifier: GPL-2.0+

if RZT2N

config R9A07G076
	bool "Renesas R9A07G076 SoC"
	help
	  Enable support for the Renesas R9A07G076 (RZ/T2N) SoC.

choice
	prompt "Renesas RZ/T2N Family Board selection"
	optional

config TARGET_RZT2N_DEV
	bool "Renesas RZ/T2N DEV"
	imply R9A07G076
	help
	  Enable support for the RZ/T2N evaluation board.
endchoice

config TARGET_RZT2N_537_PIN_DEV
	bool "Renesas RZ/T2N DEV for 537 pin device"
	help
	  Enable support for the RZ/T2N evaluation board.

source "board/renesas/rzt2n-dev/Kconfig"

config MULTI_DTB_FIT_UNCOMPRESS_SZ
	default 0x80000 if TARGET_RZT2N_DEV

endif
